#                                 Assignment name Regular Expressions
                                   Submitted by MOHSIN HILAL QADRI

In [27]:
#q. no o1
import re
a='Python Exercise, PHP exercise'
a=re.sub(r"[\s.,]",':',a)
print(a)

Python:Exercise::PHP:exercise

In [28]:
#q no o2 pending

In [29]:
#Q. no 03
import re

string_1 = "i enjoy working at fliprobo very much."
pattern = re.compile(r'\b\w{4,}\b')
print(pattern.findall(string_1))

['enjoy', 'working', 'fliprobo', 'very', 'much']

In [31]:
#Q. no 04
import re

string_1 = "fliprobo has been my dream company right from the start."
pattern = re.compile(r'\b\w{3,5}\b')
print(pattern.findall(string_1))

['has', 'been', 'dream', 'right', 'from', 'the', 'start']

In [39]:
#q.no 05 pending
import re

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

pattern = re.compile(r'\s*\([^)]*\)')

result = [re.sub(pattern, '', s).strip() for s in sample_text]

for i in range(len(result) - 1):
    print(result[i])

example
hr@fliprobo
github
Hello

In [40]:
#Q. 06
file_name = 'sample_text.txt'
with open(file_name, 'w') as file:
    for line in sample_text:
        file.write(line + '\n')

with open(file_name, 'r') as file:
    text = file.readlines()

pattern = re.compile(r'\s*\([^)]*\)')
new_text = [re.sub(pattern, '', line).strip() for line in text]

print(new_text)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [41]:
#q.no o7
import re

sample_text = "ImportanceOfRegularExpressionsInPython"

pattern = r'[A-Z][a-z]*'

result = re.findall(pattern, sample_text)

print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [42]:
#Q. no 08
import re

pattern = r'(\d+)([A-Za-z]+)'
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

output = re.sub(pattern, r'\1 \2', sample_text)

print(output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

In [43]:
#q.no. 09
import re

pattern = r'(?<=[a-z])([A-Z\d])'
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

output = re.sub(pattern, r' \1', sample_text)

print(output)

Regular Expression 1Is An 2Important Topic 3In Python

In [50]:
#q.no. 10
import pandas as pd
df=pd.read_csv("happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [52]:
df['first_five_letters'] = df['Country'].str[:6]
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [53]:
#q. no. 13
ip_address = "192.168.001.001"
ip_address = re.sub(r'\b0+(\d+)\b', r'\1', ip_address)
print(ip_address)

192.168.1.1

In [78]:
#q. no. 14
import re

sample_text = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'

pattern = r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b'

print(re.findall(pattern, sample_text))

['August 15th 1947']

In [54]:
#q.n0. 15
import re

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

for word in searched_words:
    if re.search(word, sample_text):
        print(f'"{word}" found in the text.')
    else:
        print(f'"{word}" not found in the text.')

"fox" found in the text.
"dog" found in the text.
"horse" not found in the text.

In [56]:
#q.no 16
import re

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_word = 'fox'

matches = list(re.finditer(re.escape(searched_word), sample_text))

for match in matches:
    print(f"Found '{searched_word}' at index {match.start()}")

print([match.start() for match in matches])

Found 'fox' at index 16
[16]

In [58]:
#q.no. 17
import re

sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

matches = re.findall(pattern, sample_text)
print(matches)

['exercises', 'exercises', 'exercises']

In [60]:
#Q. NO. 18
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

matches = [(match.group(0), match.start()) for match in re.finditer(pattern, sample_text)]

print(matches)

[('exercises', 7), ('exercises', 22), ('exercises', 36)]

In [63]:
#q. no.19
import re

Given_date = '2023-07-06'

converted_date = re.sub(r'(\d{4})-(\d{2})-(\d{2})', r'\3-\2-\1', Given_date)

print(converted_date)

06-07-2023

In [64]:
#q.no. 20
import re

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

pattern = re.compile(r'\b\d+\.\d{1,2}\b|\b\d{1,2}\.\d{1,2}\b')
matches = pattern.findall(sample_text)

print(matches)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [65]:
#q.no. 21
import re

sample_text = "abc 123 def 456 ghi 789"

matches = [(match.group(0), match.start()) for match in re.finditer(r'\d+', sample_text)]

print(matches)

[('123', 4), ('456', 12), ('789', 20)]

In [66]:
#q.no. 22
import re

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numbers = [int(num) for num in re.findall(r'\d+', sample_text)]

max_number = max(numbers)

print(max_number)

950

In [68]:
#q.no. 23
import re

sample_text = "RegularExpressionIsAnImportantTopicInPython"

new_text = re.sub(r'(?<!^)(?=[A-Z])', ' ', sample_text)

print(new_text)

Regular Expression Is An Important Topic In Python

In [69]:
#q.no. 24
import re

sample_text = "Sequence of One upper Case letter followed by lower case letters: Aabc Zxyz Qwerty"

matches = re.findall(r'\b[A-Z][a-z]+\b', sample_text)

print(matches)

['Sequence', 'One', 'Case', 'Aabc', 'Zxyz', 'Qwerty']

In [70]:
#q.no. 25
import re

sample_text = "Hello hello world world"

formatted_text = re.sub(r'\b(\w+)(?: \1\b)+', r'\1', sample_text)

print(formatted_text)

Hello hello world

In [71]:
#q.no. 26
import re

text1 = "Hello123"
text2 = "Python!"
text3 = "12345"

pattern = r'\w$'

print(bool(re.search(pattern, text1)))  
print(bool(re.search(pattern, text2)))
print(bool(re.search(pattern, text3)))

True
False
True

In [72]:
#q.no. 27
import re

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

hashtags = re.findall(r'#\w+', sample_text)

print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [73]:
#q.no. 28
import re

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

# Remove <U+..> like symbols using regex
clean_text = re.sub(r'<U\+[0-9A-Fa-f]+>', '', sample_text)

print(clean_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [76]:
#q.no. 29
import re

file_name = 'untitled.txt'

with open(file_name, 'r') as file:
    text = file.read()

pattern = r'\b\d{2}-\d{2}-\d{4}\b'

dates = re.findall(pattern, text)

print(dates)

['12-09-1992', '15-12-1999']

In [77]:
#q.no. 30
import re

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern = re.compile(r'\b\w{2,4}\b')
output_text = pattern.sub('', sample_text)

print(output_text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.